.status-text {
  color: red;
}

#contact-area {
  width: 500px;
  margin: 0px auto;
  margin-top: 80px;
}

#contact-area h2 {
  width: 100%;
  color: #1e3851;
  font-size: 2.25rem;
}

#contact-area form {
  padding: 20px 0px;
  width: 100%;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

#contact-area form h3 {
  text-align: center;
}

#contact-area form input {
  display: block;
  width: 450px;
  height: 50px;
  background-color: #f5f5f5;
  margin: 20px auto;
  border: none;
  box-shadow: 3px 1px 1px gainsboro;
  border-radius: 5px;
}

#contact-area form textarea {
  display: block;
  width: 450px;
  height: 200px;
  background-color: #f5f5f5;
  margin-top: 20px;
  border: none;
  box-shadow: 3px 1px 1px gainsboro;
  border-radius: 5px;
  margin: 20px auto;
}

#contact-area form button {
  display: block;
  width: 250px;
  height: 50px;
  background-color: #6366f1;
  color: white;
  margin: 20px auto;
  border: none;
}

/* スマホ対応（〜768px） */
@media (max-width: 768px) {
  #contact-area {
    width: 80%;
  }
  #contact-area h2 {
    font-size: 1.5rem;
  }

  #contact-area form input {
    width: 90%;
  }

  #contact-area form textarea {
    width: 90%;
  }
}

/* タブレット対応（769px〜1024px） */
@media (min-width: 769px) and (max-width: 1024px) {
  #contact-area {
    width: 80%;
  }
}
