#project-area {
  margin-top: 80px;
}

#project-area h2 {
  color: #1e3851;
  font-size: 2.25rem;
}

.projecu-wrap {
  width: 990px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: 310px;
  margin: 10px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.project-item p {
  padding: 20px 0px;
  text-align: center;
}

.project-item img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* スマホ対応（〜768px） */
@media (max-width: 768px) {
  .projecu-wrap {
    width: 80%;
    display: block;
  }

  .project-item {
    width: 100%;
  }

  #project-area h2 {
    font-size: 1.5rem;
  }
}

/* タブレット対応（769px〜1024px） */
@media (min-width: 769px) and (max-width: 1024px) {
  .projecu-wrap {
    width: 750px;
  }

  .project-item {
    width: 355px;
  }
}
