.main-visual {
  width: 980px;
  display: flex;
  margin: 5px auto;
  justify-content: center;
}

.catch-title {
  width: 380px;
  display: flex;
  align-items: center;
  color: #1e3851;
}

.catch-title h1 {
  width: 100%;
  overflow-wrap: break-word;
  font-size: 2.25rem;
}

.catch-img img {
  display: block;
  width: 600px;
}

/* スマホ対応（〜768px） */
@media (max-width: 768px) {
  /* スマホ用のレイアウト */
  .main-visual {
    display: block;
    width: 80%;
  }

  .catch-title {
    width: 100%;
  }

  .catch-title h1 {
    font-size: 1.5rem;
  }

  .catch-img img {
    width: 100%;
  }
}

/* タブレット対応（769px〜1024px） */
@media (min-width: 769px) and (max-width: 1024px) {
  /* タブレット用のレイアウト */
  .main-visual {
    width: 750px;
  }

  .catch-title {
    width: 350px;
  }

  .catch-img img {
    width: 400px;
  }
}
